<div class="jumbotron">
  <h1><i class="fa fa-cogs" aria-hidden="true"></i> Treccos</h1>
  <p>Sempre melhorando a produtividade do seu time.</p>

  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
